name: CI/CD to AKS

on:
  push:
    branches:
      - main
  workflow_dispatch: 

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

     
      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

    
      - name: Azure CLI acr
        run: |
          az acr login --name ${{ secrets.ACR_NAME }}

      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build & Push app images
        run: |
          apps=("app" "app1" "app2")
          for app in "${apps[@]}"; do
            IMAGE=${{ secrets.ACR_NAME }}.azurecr.io/$app:${{ github.run_number }}
            echo "Building and pushing $IMAGE"
            docker buildx build --platform linux/arm64 -t $IMAGE -f Dockerfile ./$app --push           
          done


      - name: Set AKS Context
        uses: azure/aks-set-context@v3
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
          cluster-name: ${{ secrets.AKS_CLUSTER }}
          resource-group: ${{ secrets.RESOURCE_GROUP }}

   
      - name: Update manifests images dynamically
        run: |
          apps=("app" "app1" "app2")
          for app in "${apps[@]}"; do
            IMAGE=${{ secrets.ACR_NAME }}.azurecr.io/$app:${{ github.run_number }}
            sed -i "s|image: .*$|image: $IMAGE|" manifests/${app}-deploy.yaml
          done

      
      - name: Deploy manifests to AKS
        run: |
          kubectl apply -f manifests/
          kubectl rollout status deployment/app
          kubectl rollout status deployment/app1
          kubectl rollout status deployment/app2

     
      - name: Get Services Info
        run: kubectl get svc

