name: Build and Deploy to AKS

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Login to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      - name: Login to ACR using Azure CLI
        run: |  
          az acr login --name ${{ secrets.ACR_NAME }}


      - name: Build and push app
        run: |
          cp app/index.html ./index.html
          docker build --platform linux/amd64 -t ${{ secrets.ACR_NAME }}.azurecr.io/app:latest .
          docker push ${{ secrets.ACR_NAME }}.azurecr.io/app:latest

      - name: Build and push app1
        run: |
          cp app1/index.html ./index.html
          docker build --platform linux/amd64 -t ${{ secrets.ACR_NAME }}.azurecr.io/app1:latest .
          docker push ${{ secrets.ACR_NAME }}.azurecr.io/app1:latest

      - name: Build and push app2
        run: |
          cp app2/index.html ./index.html
          docker build --platform linux/amd64 -t ${{ secrets.ACR_NAME }}.azurecr.io/app2:latest .
          docker push ${{ secrets.ACR_NAME }}.azurecr.io/app2:latest


      - name: Set AKS context
        uses: azure/aks-set-context@v3
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
          cluster-name: ${{ secrets.AKS_CLUSTER_NAME }}
          resource-group: ${{ secrets.AKS_RESOURCE_GROUP }}

      - name: Deploy to AKS
        run: |
          kubectl apply -f manifests/
